    <!-- Bootstrap 5 JS Bundle (inclui Popper.js) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-X4VxthVf6EImL5vgoMeSRJzPB2wJDwOUDoWBrM1FDOhwiJybkYg0czS/tAIWQAVz" 
        crossorigin="anonymous">
    </script>

    <!-- Seu script personalizado -->
    <script src="/assets/js/bundle.js"></script>
  </body>
</html>
